<h1>Log in</h1>
<div>
    <%= form_for(:session, url: login_path) do |f| %>
        Email: <%= f.text_field :email %>
        Password: <%= f.password_field :password %>
        <%= f.submit "Log in" %>
    <% end %>

    <p>New user? <%= link_to "Sign up now!", new_user_path %></p>
</div>