<strong>Viewing user:</strong> <br>
<%= @user.name %> <br>
<%= @user.email %> <br> <br>

<strong>Users media:</strong>
<ul>
<% @user.media_pages.each do |media|%>
<li><%= media.name %> - <%= media.content %></li>
<% end %>
</ul>

<% if logged_in? %><%= link_to "Add Media to my profile!", new_user_media_page_path(@user) %>
<% else %>You can't add media to this profile.<% end %><br><br>

---- <br>
<%= link_to "Update User", edit_user_path %> <br>
<%= link_to "Home Page", root_path %>